@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Mako&family=PT+Sans+Caption&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #d9d8d5;
}

.main{
    margin: 1rem;
}

.profile-img{
    border-radius: 10px;
}

.sidebar{
    border: 1px solid white;
    height: fit-content;
    padding: 5px;
    margin: 10px 0;
}

.contact-detail{
    padding: 0.5rem;
    font-family: 'PT Sans Caption';
}
.contact-detail-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.content{
    border: 1px solid white;
}

section{
    padding: 1rem;
    margin: 0.5rem 0;
    font-family: 'Dosis';
}
#about p {
    font-size: 1.5rem;
}

.topnav{
    overflow: hidden;
    background-color: #9fb4e7;
    position: relative;
}

.topnav #myLink{
    display: none;
}

.active, .topnav a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #04aa6d;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color:  #3a5a40;
    color: white;
}

.hero{
    position: relative;
    display: flex;
}

.heading{
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

span{
    color: #4ee74b;
}

.introOne, .introTwo{
    font-size: 2.5rem;
    text-align: center;
}

.cvBtn{
    padding: 0.1rem 2rem;
    background-color: transparent;
    color: #4ee74b;
    border: 1px solid #4ee74b;
    margin-top: 1rem;
}

.cvBtn:hover{
    color: white;
    background-color: #4ee74b;
}

.skillSet{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.skillItem{
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}

.skillItem:hover{
    box-shadow: 0 8px 16px 0 #4ee74b;
    transition: 0.3s;
}

h2{
    color: #04aa6d;
    margin-bottom: 0.5rem;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.skillTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'PT Sans Caption';
    padding: 8px;
    padding-left: 0;
}
.subtitle{
    font-size: small;
}
progress {
    background: #04af2f;
}
progress[value]::-webkit-progress-bar{
    background-color:white;
}
.imgIcon{
    width: 80px;
    padding: 0.5rem;
}

.desktopNav{
    display: none;
    background-color: #04aa6d;
}

.desktopActive {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 2rem;
}

.desktopLogo{
    float: left;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.projectContainer{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}

.projectBox{
    position: relative;
}

.overlayImg{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color:#000000a1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectBox:hover .overlayImg {
    opacity: 0.3;
}

.projectBox:hover .overlay {
    opacity: 1;
}

.containerBtn{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.footer{
    background-color: #04aa6d;
    width: 100%;
    text-align: center;
    padding:  0.5rem 0;
}

/* contact form */
.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid white;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #04aa6d; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #04aa6d;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#3a5a40; }

.input-group {
    position: relative;
}

.input-group span{
    position: absolute;
    bottom: 33px;
    right: 17px;
    font-size: 14px;
    color: red;
}

.input-group span i{
    color: #04AA6D;
}

.pythonBox {
    border: 1px solid white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* PORTFOLIO FILTER */
.portfolioBtn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .portfolioBtn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .portfolioBtn.pActive {
    background-color: #666;
     color: white;
  }
  .row {
    margin: 8px -16px;
  }
  .row, .row > .column {
  padding: 8px;
  }
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    display: none; /* Hide columns by default */
    width: 100%;
}
  /* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content Portfolio */
  .portfolioContent {
    background-color: white;
    padding: 5px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
/* ... */

/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* end modal */

.myBtn{
    width: 100%;
    background-color: #04aa6d;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    transition: all 0.3s;
    cursor: pointer;
}
.myBtn a{
    color: white;
}
.secondMyBtn{
    background-color: transparent;
    border: 3px solid #04aa6d;
    color: #04aa6d;
}
.secondMyBtn a{
    color: #04aa6d;
}

/* animation */
.animationHidden {
    opacity: 0;
    filter: blur();
    transition: all 1s;
    transform: translateX(-100%);
}

.animationShow{
    opacity: 1;
    filter: blur();
    transform: translate(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.heroBtnPosition{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    margin-top: 1rem;
}

@media screen and (min-width: 750px) {
    .main{
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 10px;
    }
    .topnav {
        display: none;
    }
    
    .topnav a {
        display: block;
        float: right;
        color: white;
    }

    .desktopNav{
        display: block;
    }

    .border{
        margin: 1rem auto;
        width: 85%;
    }
    
}

@media screen and (min-width: 1000px) {
    .overlay {
        width: 100%;
    }
}
